<div class="side-bar-header">
  <div class="side-header-name">
    <a herf="#">Tom</a>
  </div>
  <div class="side-bar-create">
    <a herf="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-chatrooms">
  <div class="side-room">
    <div class="side-room-name">
    <a herf="">techroom1</a>
    </div>
  </div>
  <div class="side-room">
    <div class="side-room-name">
    <a herf="">techroom2</a>
    </div>
  </div>
</div>